$background-color_1: '#faf9f7';

.logo {
	width: 50px;
	height: 50px;
}
.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.box {
	background-color: $background-color_1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
	margin: 5px;
}
.boxcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
