
.details{
    background-color: #b3ffc7;
    padding: 5px;
    border-radius: 20%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .details{
        font-size: 10;
    }
  }