
/* .no{
    background-color: rgb(230, 227, 227);
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
    margin-left: 8=px;
    height: 10px;
} */
.types {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subtypes {
	width: 30%;
	display: flex;
}
.type {
	display: flex;
	margin-left: 10px;
}
// #n {
// 	font-weight: bold;
// 	font-size: 16px;
// 	cursor: pointer;
// }
.cont {
	border-bottom: 2px solid blue;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.normal{
	cursor: pointer;
}

.searchandsort{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
